.cart-component-container {
  min-height: 100vh;
}
.cart-items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.cart-items-list .cart-item-image {
  width: 20%;
}
.cart-items-total {
  padding-top: 1rem;
  text-align: right;
}
.btn {
  border: none;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  color: #fff;
  background: rgb(231, 202, 34);
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
.check-out {
  padding-top: 1.5rem;
  text-align: right;
}
.check-out .checkout-button {
  text-decoration: none;
  color: black;
  background: rgb(231, 202, 34);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
}
